#loginDiv{
    
}

#login-div{
    position: absolute;
    margin-left: 70vw;
}

#loginButton{
    color: #818481;
    border-color: #818481;
}

#loginButton{
    color: #818481;
    border-color: #818481;
}

#logout{
    color: #818481;
    border-color: #818481;
}

.button__login {
    color: #818481;
    border-color: #818481;
}

.button__login:focus {
    color: #818481;
    border-color: #818481;
}

.button__login:hover {
    border-color: white;
    color: white;
}

#logout:hover {
    color: white;
}


#loginButton:hover {
    color: white;
}