.panelLayout {
    margin: 40px;
    padding: 20px;
    float: left;
    overflow: hidden;
}
.panelLayout:hover{
    transform: scale(1) !important;
    box-shadow: 0 25px 60px rgba(0,0,0,8) ;
}

.panelStyling {
    border: 1px solid #e8e8e8;
    border-radius: 2%;
    background: #D83864;
}
.closeSize {
    width: 12px;
    height: 12px;
    margin: 10px;
}
.closeButton {
    float: right;
}

