#exploreButton{
    height:300px;
    width:300px;
    margin: 30px;
}

#dashboardsButton{
   
    height:300px;
    width:300px;
    margin: 30px;
}

#masterPalette{


    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}