#headingSpan{
    display: inline-flex;
    align-items: center;
}

#firstBackButton{
    visibility: hidden;
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    float: left;
    margin-right: 10px;
}

#titleText{
    margin-top: 12px;
}

#deleteButton {
    cursor: pointer;
}