.dataConnectionCard{
    
 
  margin: 0 auto;
  margin-top: 20px;

  border-radius: 5px;
  
  box-shadow:
    0 2.8px 2px rgba(0, 0, 0, 0.004),
    0 6.7px 5px rgba(0, 0, 0, 0.008),
    0 1px 1px rgba(0, 0, 0, 0.006),
    0 2.3px 17.9px rgba(0, 0, 0, 0.002),
    0 4.8px 3.4px rgba(0, 0, 0, 0.006),
    0 1px 8px rgba(0, 0, 0, 0.02);

  width: 80%;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
}


#next__button{
    background-color: #3EC195;
    border: none;
    color: white;
}

@media only screen and (max-width: 700px) {
  .dataConnectionCard{
      
    width: 95%;
  
  }
}