@import './globals.scss';

.ant-btn {
  font-family: $font-default;
  color: rgba(0, 0, 0, 0.65);
  //border-color: #d9d9d9;
  border: 1px solid #d9d9d9;
}

.ant-btn:hover,
.ant-btn:focus {
  border-color: $color-border-hover;
  //border: 1px solid $color-border-hover;
  color: $color-primary;
}

.ant-btn:active {
  color: $color-active;
  background: #fff;
  //border-color: $color-active;
  border: 1px solid $color-active;
}




.ant-btn-primary {
  color: #fff;
  background: $color-primary;
  border-color: $color-primary;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  color: #fff;
  background: $color-active;
  border-color: $color-active;
}
