@import './globals.scss';

.ant-btn {
  font-family: $font-default;
  color: rgba(0, 0, 0, 0.65);
  //border-color: #d9d9d9;
  border: 1px solid #d9d9d9;
}

.ant-btn:hover,
.ant-btn:focus {
  border-color: $color-border-hover;
  //border: 1px solid $color-border-hover;
  color: $color-primary;
}

.ant-btn:active {
  color: $color-active;
  background: #fff;
  //border-color: $color-active;
  border: 1px solid $color-active;
}


.ant-btn-primary {
  color: #fff;
  background: $color-primary;
  border-color: $color-primary;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  color: #fff;
  background: $color-active;
  border-color: $color-active;
}



.ant-input-affix-wrapper:hover {
  border-color: $color-hover;
}
.ant-input-affix-wrapper-focused {
  border-color: $color-hover;
}


.ant-input:hover {
  border-color: $color-hover;
}

.ant-input:focus,
.ant-input-focused {
  border-color: $color-active;
}



.ant-input-search-enter-button input:hover,
.ant-input-search-enter-button input:focus {
  border-color: $color-border;

}


.ant-input-search-rtl.ant-input-search-enter-button input:hover,
.ant-input-search-rtl.ant-input-search-enter-button input:focus {
  border-color: $color-border;
}


.ant-input-search-rtl.ant-input-search-enter-button.ant-input-affix-wrapper:hover,
.ant-input-search-rtl.ant-input-search-enter-button.ant-input-affix-wrapper:focus {
  border-color: $color-border;
}


.ant-input:focus,
.ant-input-focused {
  border-color: $color-border-focus;
  -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}


.ant-input-group-addon .ant-select-open .ant-select-selector,
.ant-input-group-addon .ant-select-focused .ant-select-selector {
  color: $color-primary;
}

.ant-input-affix-wrapper {
  border: 1px solid $color-border;
}

.ant-input-affix-wrapper-focused {
  border: 1px solid $color-border;
  box-shadow: 0px 0px 2px $color-border-focus;
}


.ant-spin {
  color: $color-primary;
}
.ant-spin-dot-item {
  background-color: $color-primary;
}


.ant-message {
  z-index: 2000;
}

.ant-typography-edit {
  color: $color-border-active;
}

.ant-typography-edit:hover {
  color: $color-primary;
}

.ant-typography-edit:focus {
  color: $color-primary;
}

.ant-typography-edit:active {
  color: $color-primary;
}

.ant-btn:after {
  animation: 0s !important;
  // border-color: transparent !important;
}

// Ant Design Checkbox

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: $color-primary;
  border-color: $color-border;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: $color-border-hover;
}

.ant-checkbox-checked::after {
  border-color: $color-border-hover;
}

// Ant Design Cascader

.ant-cascader-picker:focus .ant-cascader-input {
  border-color: $color-primary;
}
.ant-cascader-picker-label:hover + .ant-cascader-input {
  border-color: $color-primary;
}
.ant-cascader-picker:focus .ant-cascader-input {
  border-color: $color-primary;
  border-right-width: 1px !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px $color-box-shadow;
  box-shadow: 0 0 0 2px $color-box-shadow;
}
.ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled),
.ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled):hover {
  background-color: $color-menu-selected-background;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border-color: $color-border-hover;
}


.ant-input-number:hover {
  border-color: $color-border-hover;
}
.ant-input-number:focus,
.ant-input-number-focused {
  border-color: $color-border-active;
  border-right-width: 1px !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px $color-box-shadow;
  box-shadow: 0 0 0 2px $color-box-shadow;
}


.ant-input-number-handler:hover .ant-input-number-handler-up-inner,
.ant-input-number-handler:hover .ant-input-number-handler-down-inner {
  color: $color-primary;
}



.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab-active {
  color: $color-primary;
}


.ant-tabs > .ant-tabs-nav .ant-tabs-nav-add:hover,
.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-add:hover {
  color: $color-primary;
}


.ant-tabs > .ant-tabs-nav .ant-tabs-nav-add:active,
.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-add:active,
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-add:focus,
.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-add:focus {
  color: $color-primary;
}

.ant-tabs-ink-bar {
  background: $color-primary;
}

.ant-tabs-tab-btn:focus,
.ant-tabs-tab-remove:focus,
.ant-tabs-tab-btn:active,
.ant-tabs-tab-remove:active {
  color: $color-primary;
}

.ant-tabs-tab:hover {
  color: $color-primary;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: $color-primary;
}




.ant-tabs-tab.ant-tabs-tab-disabled {
  color: red;
}

.ant-tabs-dropdown-menu-item-disabled,
.ant-tabs-dropdown-menu-item-disabled:hover {
  color: red;
}