.graphSuggestions-flex-container {
    font-size: 40px;
    color: #d6883e;
    float: right;
    display: flex;
    flex-direction: row;
    box-sizing: content-box;
    width: 70%;
    height: 50%;
    padding: 30px;
    border: 1px solid #747474;
    margin-top: 20px;;
}

.graphSuggestions-flex-container .graphSuggestions-flex-item {
    margin: 10px;
}
.graphSuggestions-flex-container .graphSuggestions-flex-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 5;
}
.graphSuggestions-flex-container .graphSuggestions-flex-item img:hover{
    transform: scale(1.1) !important;
    box-shadow: 0 25px 60px rgba(0,0,0,8) ;
}
