@import '../../globals/globals';

@keyframes flash {
  0% {
    background-color: $color-secondary;
    box-shadow: none;
  }
  50% {
    background-color: white;
    @include box__shadow;
  }
  100% {
    background-color: $color-secondary;
    box-shadow: none;
  }
}

.suggestion {
  background-color: white;
  padding: 15px 20px 15px 20px;
}

#filterButton{
  cursor:pointer;
  position: relative;
  background-color: transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

#filterDiv{
  padding: 20px;
  float: right;
}

#moreLikeThisButton{
 
  margin-top: 30px;
  margin-left: 0;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#igaloading {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
}

#suggestion__loading--container {
  height: 100%;
  padding: 15px 20px 15px 20px;
  background-color: white;
  position: relative;
  animation: flash 1.5s normal infinite ease-in-out;
  @include box__shadow;
}

#suggestion__loading--loader {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(50%, 50%);
}