.suggestion {
  background-color: white;
  padding: 15px 20px 15px 20px;
}

#headingSpan{

}

#backButton{
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  margin-right: 10px;
}

#titleText{
  margin-top: 12px;
}

#filterButton{
  cursor:pointer;
  position: relative;
  background-color: transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

#filterDiv{
  padding: 20px;
  float: right;
}