@import '../../globals/globals';

@keyframes flash {
  0% {
    background-color: $color-secondary;
    box-shadow: none;
  }
  50% {
    background-color: white;
    @include box__shadow;
  }
  100% {
    background-color: $color-secondary;
    box-shadow: none;
  }
}

@mixin button__moreLikeThis--backgroundColor {
  background-color: #FF3408;
  background: rgb(117,48,154);
  background: -moz-linear-gradient(97deg, rgba(68,160,141,1) 0%, rgba(189,63,50,1) 100%);
  background: -webkit-linear-gradient(97deg, rgba(68,160,141,1) 0%, rgba(189,63,50,1) 100%);
  background: linear-gradient(97deg, rgba(68,160,141,1) 0%, rgba(189,63,50,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#75309a",endColorstr="#59a3e0",GradientType=1);
}

#moreLikeThisButton{
  //@include button__moreLikeThis--backgroundColor;
  background-color: #242424;
  border: none;
  color: #3EC195;
  
  margin: 0;
  top: 96%;
  left: 91%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: fixed;

  transition: 0.3s;
  font-weight: bold;

}

#noSuggestionMessage{
  margin: 0;
   position: absolute;   
   top: 10%;           
 
                      
 
}


#moreLikeThisButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#moreLikeThisButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#moreLikeThisButton:hover span {
  padding-right: 25px;
}

#moreLikeThisButton:hover span:after {
  opacity: 1;
  right: 0;
}

@media only screen and (max-width: 1550px) {
  #moreLikeThisButton{
      left: 88%;
  }
}
@media only screen and (max-width: 1250px) {
  #moreLikeThisButton{
      left: 84%;
  }
}
@media only screen and (max-width: 900px) {
  #moreLikeThisButton{
      left: 82%;
  }
}
@media only screen and (max-width: 800px) {
  #moreLikeThisButton{
      left: 80%;
  }
}
@media only screen and (max-width: 600px) {
  #moreLikeThisButton{
      left: 50%;
  }
}

.chartDiv{

  padding-top: -100px;
  transition: 0.3s;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.checkboxItem{
  position: absolute;
  left: 20px;
  float: right;
}


#filterButton{
  cursor:pointer;
  position: fixed;
  bottom: 0px;
  right: 0px; 
  overflow: hidden;
  outline:none;
  margin-bottom: 15px;
  margin-right: 15px;
  
  background-color: white;
  border: 1px solid #60dbb2;
  color: #60dbb2;
}

#igaloading {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
}

#suggestion__loading--container {
  height: 100%;
  padding: 15px 20px 15px 20px;
  background-color: white;
  position: relative;
  animation: flash 1.5s normal infinite ease-in-out;
  @include box__shadow;
}

#suggestion__loading--loader {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(50%, 50%);
}


.suggestion{
  border: 4px solid #EAFFF5;
  border-radius: 2%;
  //background-color: #EAFFF5;
  //background-color: #FAFFFD;
  background-color: white;
  cursor: pointer;
  padding: 15px 20px 15px 20px;
  transition: border-color 0.1s linear;
  -webkit-box-shadow: 0px 1px 10px -3px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 1px 10px -3px rgba(0,0,0,0.8);
  box-shadow: 0px 1px 10px -3px rgba(0,0,0,0.8);
  margin-bottom: 40px;
  //box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  //transition: box-shadow 0.3s;
}

.suggestion:hover {
  //border-color: #3EC195;
}





