@import '../../globals/globals.scss';

.panel {
    background-color: white;
    padding: 15px;
    z-index: 40;
}

.dashboardPanelStyling {
    background-color: white;
    box-shadow: 3px 3px 5px #d6d6d6;
    border: 1px solid #c9c9c9;
    border-radius: 1%;
    padding: 10px;
}

.searchLabel {
}
.searchLabel--search-font {
    font-family: $font-light;
}

.dashboardPanelStyling {
    background-color: white;
    box-shadow: 3px 3px 5px #d6d6d6;
    border: 1px solid #c9c9c9;
    border-radius: 1%;
    padding: 10px;
}