

#selectorDiv{
    background-color: blueviolet;
}
#selectorDiv :hover{
    cursor:pointer;
}

#button-explore-dataPage{
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}




