
@import '../../globals/globals.scss';

@mixin button__explore--backgroundColor {
    background: rgb(117,48,154);
    background: -moz-linear-gradient(97deg, rgba(117,48,154,1) 0%, rgba(89,163,224,1) 100%);
    background: -webkit-linear-gradient(97deg, rgba(117,48,154,1) 0%, rgba(89,163,224,1) 100%);
    background: linear-gradient(97deg, rgba(117,48,154,1) 0%, rgba(89,163,224,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#75309a",endColorstr="#59a3e0",GradientType=1);
}


.ant-checkbox-group-item {
    display: inline-block;
}

#selectorDiv{
    background-color: blueviolet;
}

#selectorDiv :hover{
    cursor:pointer;
}


.titelCard{
    width: 80%;
}

.ant-card-body{
   
}


#button-explore-dataPage{
    @include button__explore--backgroundColor;
    -webkit-box-shadow: 0px 17px 18px -12px rgba(101,112,192,1);
    -moz-box-shadow: 0px 17px 18px -12px rgba(101,112,192,1);
    box-shadow: 0px 17px 18px -12px rgba(101,112,192,1);

    margin: 0;
    top: 93%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: fixed;
    border: none;
    transition: 0.3s;
    opacity: 0.8;
}

#button-explore-dataPage:hover{
    opacity: 1;
}

@media only screen and (max-width: 600px) {
   
}

.entities__entity {
    background-color: '';
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
    
}


