
@import '../../globals/globals.scss';

@mixin button__explore--backgroundColor {
    background: rgb(117,48,154);
    background: -moz-linear-gradient(97deg, rgba(117,48,154,1) 0%, rgba(89,163,224,1) 100%);
    background: -webkit-linear-gradient(97deg, rgba(117,48,154,1) 0%, rgba(89,163,224,1) 100%);
    background: linear-gradient(97deg, rgba(117,48,154,1) 0%, rgba(89,163,224,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#75309a",endColorstr="#59a3e0",GradientType=1);
}


.ant-checkbox-group-item {
    display: inline-block;
}

#selectorDiv{
    background-color: blueviolet;
}

#selectorDiv :hover{
    cursor:pointer;
}


#titelCard{
    text-align: center;
    min-height: 80px;
    max-height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ant-card-body{
   
}

#button-explore-dataPage{
    @include button__explore--backgroundColor;
    -webkit-box-shadow: 0px 17px 18px -12px rgba(101,112,192,1);
    -moz-box-shadow: 0px 17px 18px -12px rgba(101,112,192,1);
    box-shadow: 0px 17px 18px -12px rgba(101,112,192,1);

    margin: 0;
    top: 93%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: fixed;
    border: none;
}
#button-explore-dataPage:hover{
    height: 5vh;
}




