@import '../../globals/globals.scss';

@mixin button__generateSuggestions--backgroundColor {
    background-color: $color-primary;
    background: rgb(117,48,154);
    background: -moz-linear-gradient(97deg, $color-primary 0%, $color-secondary 100%);
    background: -webkit-linear-gradient(97deg, $color-primary 0%, $color-secondary 100%);
    background: linear-gradient(97deg, $color-primary 0%, $color-secondary 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#75309a",endColorstr="#59a3e0",GradientType=1);
  
}


.ant-checkbox-group-item {
    display: inline-block;
}

#selectorDiv{
    background-color: blueviolet;
}

#selectorDiv :hover{
    cursor:pointer;
}


.titelCard{
    width: 80%;
}



#button__generateSuggestions{
    @include button__generateSuggestions--backgroundColor;
    
    color: white;
    border: none;
    width: 400px;
    height: 10vh;
    font-size: 2em;
    margin: 0;
    top: 90%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: fixed;
   
    transition: 0.3s;

}

#button__generateSuggestions:hover{
    opacity: 1;
    -webkit-box-shadow: 0px 17px 18px -12px rgba(101,112,192,1);
    -moz-box-shadow: 0px 17px 18px -12px rgba(101,112,192,1);
    box-shadow: 0px 17px 18px -12px rgba(101,112,192,1);
}

#button__generateSuggestions_notLoggedIn{
    @include button__generateSuggestions--backgroundColor;
    
    color: white;
    border: none;
    width: 400px;
    height: 10vh;
    font-size: 2em;
    margin: 0;
    top: 90%;
    left: 57%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: fixed;
   
    transition: 0.3s;

}

#button__generateSuggestions_notLoggedIn:hover{
    opacity: 1;
    -webkit-box-shadow: 0px 17px 18px -12px rgba(101,112,192,1);
    -moz-box-shadow: 0px 17px 18px -12px rgba(101,112,192,1);
    box-shadow: 0px 17px 18px -12px rgba(101,112,192,1);
}

@media only screen and (max-width: 600px) {
    #button__generateSuggestions{
        left: 50%;
        width: 80%;
        height: 10vh;
        font-size: 1.5em;
    }
    #button__generateSuggestions_notLoggedIn{
        left: 50%;
        width: 80%;
        height: 10vh;
        font-size: 1.5em;
    }
    
}

.entities__entity {
  
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -webkit-transition: background-color 0.1s linear;
    -ms-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
    transition: box-shadow 0.1s ease-in-out;
    // box-shadow:
    // 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    // 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    // 0 12.5px 10px rgba(0, 0, 0, 0.06),
    // 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    // 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    // 0 100px 80px rgba(0, 0, 0, 0.12);
    
}