body {
    margin: 0;
    background: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    min-height: 100vh;
    justify-content: space-around;
}

header {
    width: 90%;
    padding: 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #55d6aa;
    position: fixed;
    top:0;
    z-index: 1000;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

header h1 {
    color: white;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;         //no dots}

.hp  {
    position: absolute;
    left: 0px;
    padding: 10px;
}
.serach_nav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

header nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}

header nav a {
    color: white;
    text-decoration: none;
font-size: 16px;
    transition: color 250ms ease-in-out;
    padding: 5px 10px;
    position: relative;
    border: none !important;
}

header nav a:hover {
    color: #444;
}

header nav a::before {
    content: '';
    display: block;
    height: 2px;
    background-color: #444;

    position: absolute;
    bottom: 0;
    width: 0%;

    transition: all 250ms ease-in-out;
}

header nav a:hover::before {
    width: 100%;
}
