.dashboard-flex-container {
    font-size: 40px;
    color: #d6883e;
    float:left;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    width: 19%;
    height: 100%;
    padding: 30px;
    border: 1px solid #747474;
}

.dashboard-flex-container .dashboard-flex-item {
    margin: 10px;
}
.dashboard-flex-container .dashboard-flex-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 5;
}
.dashboard-flex-container .dashboard-flex-item img:hover{
    transform: scale(1.1) !important;
    box-shadow: 0 25px 60px rgba(0,0,0,8) ;
}
